  <table>
    <tr>
      <td><%= form.label :username %></td>
      <td>
        <%= form.text_field :username %>
      </td>
    </tr>
    <tr>
      <td><%= form.label :password %></td>
      <td>
        <%= form.password_field :password, %>
      </td>
    </tr>
    <tr>
      <td>
      <%= form.submit "Login" %>
      </td>
    </tr>
  </table>
<% end %>