  <%= form_tag @user do |form| %>
    <h2>Login</h2>

    <label for="Username">Username</label>
    <%= text_field_tag "Username" %>
    <br>

    <label for="password">Password</label>
    <%= password_field_tag "password" %>
    <br>

    <p><%= submit_tag "Login" %></p>

    <p><%= link_to "Need to create an account?", new_user_path %></p>
    <p><%= link_to "Forgot password?", forgot_password_path %></p>
  <% end %>
</div>
