<h1>Reset password for <%= @user.email_address %></h1>

<%= error_messages_for @user %>

<%= form_tag reset_password_post_path do %>
  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= submit_tag "Reset password" %>
  </p>
<% end %>