<!DOCTYPE html>
<html>

<%= notice %>
<head>

  <title>Dota</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if @user %>
  <li> <%= link_to "Logout", session_logout_path %></li>
  <%= @user.email  %>
<% end %>


<%= yield %>

</body>
</html>
