<!DOCTYPE html>
<html>


<head>
  <style id="_sl_hide" type="text/css">body { display: none; }</style>
  <script src="https://fightforthefuture.github.io/stoptheslowlane/widget/slowlane.js"></script>

  <title>Dota</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= notice %>
<% if @user_id %>
  <li>Welcome, <%= @user_id.email  %></li>
  <li> <%= link_to "Logout", logout_path %></li>

<% end %>


<%= yield %>

</body>
</html>
